*{
    margin: 0;
    padding: 0;
}
.inicio-pagina{
    background-color: #001336;
    color: #47C5FB;
    display: flex;
    height: 100px;
 justify-content: space-around;
    align-items: center;
   
}

.imagem-logo{
width: 10%;
height: 100px;
object-fit: cover;
}

.itens-lateral {
    display: inline-block;
    margin: 0 11px; 
    padding: 20px 0;
}

.buscar{
    display: inline-block;
    margin: 0 11px;
    padding: 20px 0; 
}

.pagina{
    background-image: linear-gradient(#001336, #47C5FB);
    font-family: "Ubuntu", sans-serif;
    color: #001336;
}

.titulo1{
    font-size: x-large;
    color: white;
    display: flex;
    align-items: center;
}
.textos{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Imagem{
    width: 30%;
}
.paragrafos{
    width: 30%;
    padding: 80px;
}
.logo{
    width: 60%;
}

.titulo2{
    color: white;
    font-size: x-large;
    text-align: center;
    padding: 30px 0;
}

.linguas-div{
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10%;
    padding: 50px 0;
}
.rodape{
    background-color: black;
    text-align: center;
    color: white;
}
