*{
    margin: 0;
    padding: 0;
}
.inicio-pagina{
    background-color: #001336;
    color: #47C5FB;
    display: flex;
 justify-content: space-around;
    align-items: center;
   
}

.imagem-logo{
width: 13%;
}

.itens-lateral {
    display: inline-block;
    margin: 0 11px; 
    padding: 20px 0;
}

.buscar{
    display: inline-block;
    margin: 0 11px; 
}